* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar Section */

.nav-container {
    background-color: #111010;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}

.menus {
    display: flex;
    list-style: none;
    cursor: pointer;
    padding: 20px;
}

.item {
    margin-right: 17px;
    padding: 5px;
    font-size: 20px;
}

.nav-title {
    padding: 20px;
    color: whitesmoke;
    font-size: 35px;
}

.nav-text {
    color: #E55473;
}

/* Banner section */

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
}

.banner .banner-picture {
    width: 450px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #272727;
}

.banner-description {
    font-family: Open Sans;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    padding: 15px 25px;
}

/* Main section */

/* featured section */
main {
    max-width: 1400px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    padding-bottom: 0px;
}

#featured-description {
    padding: 10px;
}

.tree-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 30px 130px 30px 130px;
    margin-left: 300px;
    margin-right: 300px;
}

.tree1 {
    padding: 120px 70px 0px 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.tree2 {
    padding: 150px 40px 0px 40px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.tree3 {
    padding: 100px 70px 0 70px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.tree-name {
    display: flex;
    color: #272727;
    text-align: center;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    padding-bottom: 130px;
}

/* Delivery Section */

.delivery-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    gap: 100px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
}

.delivery-icon {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 30px;
}

.delivery-text {
    padding-top: 25px;
}

/* Sale Section */

.sale-container {
    padding: 100px 280px 100px 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    margin-top: 130px;
    gap: 80px;
}

.sale-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    padding: 15px 25px;
    
}

/* social section */

.box-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 35px;
    padding-bottom: 130px;
}

/* subscirbe section */

.subscriber-section {
    padding: 150px;
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;

}

.email-section input {
    border: 0;
    border-radius: 5px;
    background-color: white;
    display: flex;
    margin-top: 14px;
    padding: 16px 35px;
    align-items: center;
    width: 200%;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}

.se {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
}

/* Footer Section */

footer{
    background-color: #181818;
    align-items: center;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
    margin-top: 120px;
    
}
.footer-title{
    color: whitesmoke;
    font-size: 45px;
}
.footer-text{
    color: #E55473;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    padding-top: 20px;
}
.social-links{
    padding-top: 30px ;
}
.social-links a{
    margin: 25px;
}